.button{	
	display: inline-block;
	width: 180px;
	height: 60px;		
	font-size: 20px;	
	letter-spacing: 1px;
	cursor: pointer;
}

.button_filled {
	.setButton (white);
}

.button_bordered{
	.setButton (@btnColor);
}




// .button_position-left{
	
// }
// .button_position-center{
	
// }
// .button_position-rigth{
	
// }