.contact{
	padding-top: 110px;
	@media @tablet {
		padding-top: 20px;
	}
}
.contact_contact-background{
	.setBackgroundImage(@cntc-bckgrd);
}
.contact_title-3{
	padding-top: 60px;	
}

.contact_h3 {
	color: white;
	text-align: center;
}

.contact_hr-line{

	&::before{
		left: 0;
		left: ~"calc(50% - 4.25em)";
	}	
}

.contact-form{
	padding-top: 60px;
}

.contact-button{
	padding-top: 25px;
	text-align: center;
}