.cont-dedescription{}
.cont-description__hdr{
	font-size: @cnt-hdr-fs;
	font-weight: 700;
	margin: 0;
	letter-spacing: 0.7px;

	@media @tablet {
		text-align: center;
	}
}
.cont-description__txt{
	font-size: @cnt-txt-fs;
	padding-top: 23px;
	margin: 0;
	line-height: 23px;
	

	@media @tablet {
		text-align: center;
	}
}
.cont-description__sb-hdr{
	font-size: @cnt-sb-hdr-fs;
	font-weight: 700;
	padding-top: 40px;
	margin: 0;
	@media @tablet {
		text-align: center;
	}
}
.cont-dedescription__ntwrk{
	padding-top: 23px;
	@media @tablet {
		text-align: center;
	}
}
.cont-dedescription__lnk{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 16px;
	transition: filter 0.25s linear;
	.setBackgroundImage(@netw-ic);
	background-size: initial;
	transition:background-position 0.1s linear;

	&:last-child{
		margin-right: 0;
	}

	// &:hover {
	// 	filter: invert(100%);
	// }
}

.fb-ic{
	background-position: 0px 0px; 
	&:hover{
		background-position: 0px -40px; 
	}
}
.inst-ic{
	background-position: -40px 0px; 
	&:hover{
		background-position: -40px -40px; 
	}
}
.lnkdin-ic{
	background-position: -80px 0px; 
	&:hover{
		background-position: -80px -40px; 
	}
}