.menu__item{
	display: inline-block;
	margin-right: 30px;

	&:last-child{
		margin-right: 0;
	}

	@media @tablet{
		display: block;
		line-height: 50px;	
		margin: 0px;
		text-align: center;

		&:hover .menu__link{
			color: @mn-itm-hv-clr;
			font-weight: @mn-itm-hv-fw;
		}		
	}
}
