.menu__item{
	display: inline-block;
	margin-right: 26px;

	&:last-child{
		margin-right: 0;
	}

	&:hover .menu__link{
		color: @mn-itm-hv-clr;
	}		
	@media @tablet{
		display: block;
		line-height: 50px;	
		margin: 0px;
		text-align: center;

	}
}
